.head {
  padding-left: 20px;
  background-color: #FF5722;
  color: #FFF;
}
.toolbar {
  background-color: #FF5722;
  color: #FFF;
  padding: 10px;
  flex: 0 0 auto;
}
.toolbar input {
  color: #FF5722;
  border: 0;
  padding: 5px 10px;
  margin: 3px 8px;
}
.toolbar-icon {
  padding: 5px;
  line-height: 0;
  cursor: pointer;
}
.icon-button {
  cursor: pointer;
}
.playlist-list {
  padding: 0 20px;
}
.playlist-item {
  padding: 10px 0;
  margin: 10px 0;
  width: 100%;
  max-width: 600px;
}
.playlist-title {
  color: #FF5722;
}
.item-item {
  margin: 15px 0;
}
.item-item .item-type {
  margin: 0;
}
.item-item.is-playing .item-type {
  color: #FF5722;
}
.item-hearing {
  display: none;
}
.item-item.is-playing .item-hearing {
  display: block;
  color: #FF5722;
}
.metadata {
  background-color: #FF5722;
  color: #FFF;
  padding: 10px 20px;
}
